# 9 문자열과 파일

<br>

### 9.1 문자열 기초
문자열이란 일반적인 숫자대신 글자들을 담을 수 있는 변수를 의미합니다. 이러한 문자열은 '이나 "의 인용부호로 글자들을 묶어서서 표현합니다. 또한 숫자나 배열처럼 변수에 저장할 수도 있습니다.

In [ ]:
a = 'abc'
b = "def"
print(a,b )

이 문자열은 서로 더하면 두 문자열을 합친 문자열을 의미합니다. 대신 서로 뺄 수는 없습니다.

In [ ]:
c = a + b
print( c )

문자열은 여러줄을 포함할 수도 있습니다. 문자열로 여러줄의 텍스트를 담을때는 ''' 기호를 사용합니다.

In [ ]:
s = '''
  abcdefg
  hijklmn
'''
print(s)

문자열은 문자의 배열이라는 표현대로 배열처럼 사용할 수도 있습니다.

In [ ]:
s = 'abcde'
print( 'string length:', len(s) )
print( 'first character:', s[0] )
for c in s:
  print(c)

####<font color = 'red'> 연습 9.1: 문자열의 글자를 꺼꾸로 출력해보세요

```
예:
s = 'abcde'
-> edcba
```

In [ ]:
s = 'abcde'
# 연습문제의 코드를 작성해보세요


<br><br>

### 9.2 문자열의 원리

문자열은 사실 그 속은 각각 문자에 대응되는 숫자의 배열입니다. 예를 들어 알파벳 소문자 'a' 는 컴퓨터에선 97이라는 코드번호를 갖습니다. 마찬가지로 'b'는 98, 'c' 는 99 이런식으로 저장되는거죠 그러므로 'abc' 는 [97, 98, 99] 값을 가진 배열입니다.

이를 확인하기 위해 다음 코드를 돌려보죠. ord 함수는 각 문자의 코드값을 출력해줍니다.

In [17]:
s = 'abc'
for c in s:
  print( ord(c) )

97
98
99

꺼꾸로 chr 은 코드값을 글자로 변환해 줍니다.  97부터 99까지의 숫자를 char로 변환해 출력하면 다음과 같습니다.

In [18]:
for i in range(97,100):
  print( chr(i) )

a
b
c

####<font color = 'red'> 연습 9.2: chr 을 사용해 대문자를 모두 출력해보세요

In [32]:
# 연습문제의 9.2의 코드를 작성해보세요

참고로 컴퓨터에서 출력시 엔터키에 해당하는 줄바꿈 기호도 10번이라는 코드값을 가지고 있습니다.  이 기호를 ''' 문자열로 줄을 바꿔서 넣어줄 수도 있지만 '\n' 이라는 글자로 넣어줄 수도 있습니다.

In [20]:
s = 'a\nb'
print(s)
print( ord( s[1] ))

a
b
10


이렇게 문자열은 내부적으론 코드값이라는 숫자의 배열이지만 이를 연산하는 방식은 문자에 맞게 일반적인 배열과는 조금 다르게 작동합니다.  

```
- 문자열의 개별 글자값을 변경할 수 없음
- 문자열의 한글자도 다시 문자열로 취급함
- 코드값을 기준으로 두 문자열을 비교( ==, >, < 등) 가능
```

In [30]:
s = '123'

print( s[0][0][0] ) # 배열의 인자도 다시 한글자의 배열로 취급

print('abc' == 'abc', 'xyz' == 'xyz1') # 두 문자열이 같은지 비교가능

print('5' < '123' ) # 문자열을 크기를 비교할때는 첫번째 코드값의 크기를 우선으로 비교

s[0] = 'x' # 에러발생

1
True False
False

TypeError: ignored

####<font color = 'red'> 연습 9.3: 임의의 문자열에 빈칸이 몇개가 있는지 세어보세요

```
예:
s = 'how many blank here?'
```
-> 3

In [31]:
s = 'how many blank here?'
# 연습문제의 9.3의 코드를 작성해보세요


<br><br>

### 9.3 문자열 나누고 합치기

문자열 자체도 배열처럼 사용 가능하지만 숫자나 다른 배열처럼 다시 이를 배열로 묶을 수 있습니다.

In [9]:
arr = ['a', 'bc', 'def']
for s in arr:
  print(s)

a
bc
def

for문을 사용해 배열의 여러 문자열을열을 하나의 문자열로 묶을 수도 있습니다.

In [10]:
s = ''
for w in arr:
  s += w

print(s)

abcdef

**참고 : join**

배열로 된 문자열들을 묶어줄때 join 은 문자열을 합치는 과정을 더 편하게 줍니다.

```
join 사용법:
'연결문자'.join( 문자열배열 )

예:
'_'.join(['a','b','c'])
-> a_b_c

In [14]:
arr = ['my', 'good', 'day']
s = ' '.join(arr)
print(s)

my good day

이번에는 문자열을 한번 나눠보겠습니다. 먼저 다음과 같은 문자열을 생각해보죠
```
s = 'my good day'
```
이 문자열을 빈칸을 기준으로 단어 단위로 나눠서 출력하고 싶다면? 다음 코드가 그것을 수행해 줍니다.

In [33]:
s = 'my good day'
w = ''
for c in s :
  if c != ' ' :
    w += c
  else:
    print(w)
    w = ''

if w != '' :
  print(w)

my
good
day

** 참고: split **

이러한 문자열을 특정 기호를 기준으로 구분해서 배열화 시키는 일은 컴퓨터에서 상당히 중요합니다. 특히 정보를 저장하고 읽어들이는 많은 경우에 이런 문자열 형태로 저장된 정보를 원하는 기준으로 나눠서 처리해야 하므로 매우 빈번히 사용되며 이때마다 위의 코드를 작성하는 것은 번거롭기 때문에 이를 간편하게 해주는 함수가 split 입니다.

```
split 사용법:
'문자열'.split('구분기호')

예:
'34,24,17'.split(',')
-> ['34', '24', '17']
```

In [36]:
date = '2023-07-24'
print( date.split('-'))

['2023', '07', '24']

####<font color = 'red'> 연습 9.4: 다음과 같은 이름의 리스트가 있을때 각 이름 중 첫글자를 제외한 리스트를 만드세요

```
'Adams Baker Clark Davis Evans Frank Ghosh Hills Irwin Jones Klein'
-> 'dams aker lark .. '
```

In [ ]:
s = 'Adams Baker Clark Davis Evans Frank Ghosh Hills Irwin Jones Klein'
# 연습문제의 9.4의 코드를 작성해보세요


<br><br>

### 9.4 파일과 문자열

파일은 저장장소(디스크, ssd 등)에 정보를 저장하는 단위입니다. 이때 파일은 크게 '텍스트' 와 '바이너리' 두가지로 나뉩니다.  모든 정보는 수치형태로 저장되지만 이를 문자열로 읽어들이는가 수치정보로 읽어들이는가의 차이가 있읍니다. 이미지, 동영상, 프로그램들은 문자열로 표현할 수 없기때문에 '바이너리' 파일이라고 하며 메모장이나 편집기로 읽어서 볼 수 있는 파일들은 '텍스트' 파일로 부릅니다.

여기서는 텍스트 파일만을 다루겠습니다.
파일에 내용을 읽거나 쓰기 위해서는 다음과 같은 과정을 거칩니다.

```
- 파일 열기
- 파일 읽거나 쓰기
- 파일 닫기
```

파일을 연다는 것은 각 파일에 대항하는 저장장치의 위치의 정보를 가져오는 과정을 의미합니다.  이때 읽기모드와 쓰기 모드가 있는데 이는 다음과 같은 차이가 있습니다.


```
- 읽기 모드: 다른 프로그램도 파일에 접근 가능, 파일이 없으면 에러
- 쓰기 모드: 다른 프로그램은 파일에 접근 불가, 파일어 없으면 새로 생성
```


#### 파일에 쓰기

파일에 저장을 위해 파일을 여는 방법은 다음과 같습니다.

```python
f = open('파일이름', 'w')
```

f 는 읽어들인 파일정보를 담고 있는 변수이며 여기에 write 를 사용해 다음과 같이 기록을 할 수 있습니다.

```python
f.write('기록할 내용')
```

파일을 다 사용했으면 다음 코드로 파일 정보를 해제해줍니다.
```python
f.close()
```


여기서 'w' 는 wrtie의 약자로 쓰기모드임을 의미합니다. 파일에 내용을 기록하는 간단한 예제가 다음에 있습니다.

In [37]:
f = open('my.txt','w')
f.write('text content')
f.close()

위의 코드를 실행하신 후에 폴더를 확인하시면 my.txt 파일이 생성되고 'my content' 라는 내용이 들어있는 것을 보실 수 있습니다.

####파일 내용 읽기

파일 내용을 읽을때는 다음과 같이 여시면 됩니다.

```python
f = open('파일이름', 'r')
```
마찬가지로 'r' 은 read의 약자입니다.

파일정보를 읽어들일때는 read라는 메소드를 사용합니다.

```python
문자열변수 = f.read()
```

이제 위에서 저장한 my.txt 의 내용을 다시 읽어들여서 출력하는 코드를 실행해보겠습니다.

In [40]:
f = open('my.txt','r')
s = f.read()
f.close()
print(s)

text content


<br><br>

### 9.5 딕셔너리

배열은 그 안에 있는 값에 접근을 위해 값의 위치를 숫자로 [] 안에 넣어서 그 값을 추출합니다. a[0] 이라는 표현처럼 배열의 위치에 접근하는 이런 숫자를 인덱스라고 합니다.  그런데 이런 인덱스를 숫자가 아니라 문자열로 쓰는 배열이 있습니다.
a[0] 대신에 a['name'] 이렇게 자료 접근하는 방식이죠.

이러한 배열을 **딕셔너리** 라고 합니다. 딕셔너리에서는 자료를 접근하기 위한 문자열을  '키값' 이라고 표현합니다. 딕셔너리는 다음과 같은 방식으로 표기합니다.

```python
{
  '키값1' : 값1 ,
  '키값2' : 값2 ,
  :
}
```

그러면 간단한 예제를 통해서 이 딕셔너리를 한번 테스트 해보겠습니다.

In [1]:
dic = {
  'name': '곽주현',
  'no' : '970038',
  'birth' : 1972
}

print(dic['name'])

곽주현

이러한 딕셔너리는 for 문을 이용해서 그 안에 있는 값들을 반복해서 꺼낼 수도 있습니다.

In [2]:
for key in dic:
  print(key,':',dic[key])

name : 곽주현
no : 970038
birth : 1972

딕셔너리는 키값을 이용해 해당 값을 억세스 하기 때문에 여러 정보를 저장하고 다시 꺼내서 처리하기 편리합니다.

 만약에 우리가 어떤 개인의 신상정보에 해당하는 수십가지의 값을 저장한다고 가정하면 이것을 일반적인 배열에 저장할 경우 나중에 어떤 위치에 어떤 값이 있는지 기억하기가 쉽지 안을 겁니다. 그래서 이해하기 편한 문자열로 각각 값의 의미를 부여함으로서 훨씬 편하게 이런 작업이 가능합니다.

또한 우리가 여러명의 신상정보를 관리할 경우 딕셔너리를 중첩시켜서 다음과 같이 관리하면 더욱 편리합니다.

In [6]:
actors = {
  '조인성' : {
    'no' : '000001',
    'birth' : 1981
  },
  '한효주' : {
    'no' : '000002',
    'birth' : 1987
  },
  '류승룡' :{
    'no' : '000003',
    'birth' : 1970
  }
}

print( actors['조인성'])

{'no': '000001', 'birth': 1981}

위와 같이 만일 사람의 이름으로 정보를 조회해야 하는 경우 반복문으로 일일이 값을 비교하지 않아도 되기 때문에 간단하고 빠르게 처리가 가능합니다.  또한 모든 사람들의 이름인 키값과 값들은 .keys(), .vlaues() 메소드로 추출가능합니다.

In [13]:
print(actors.keys())
print(actors.values())

dict_keys(['조인성', '한효주', '류승룡'])
dict_values([{'no': '000001', 'birth': 1981}, {'no': '000002', 'birth': 1987}, {'no': '000003', 'birth': 1970}])

다음은 for문을 이용해 위의 값에 존재하는 모든 신상정보를 나열하는 반복문입니다. 익숙치 안은 사용법이라 조금 어렵게 느껴질 수 있으니 한번 차근히 보시기 바랍니다.

In [14]:

for name in actors:
  print(name, end = ' ')
  for key in actors[name]:
    print(actors[name][key] , end = ' ')
  print()

조인성 000001 1981
한효주 000002 1987
류승룡 000003 1970

그리고 딕셔너리에 존재하지 안는 키로 값을 넣을 경우 키와 값이 가티 저장됩니다. 이걸 이용해 빈 딕셔너리에 값을 추가해줄 수 있습니다.

In [ ]:
dic = {}
dic['a'] = 1
dic['b'] = 2

####<font color = 'red'> 연습 9.5: 다음 문자열의 메뉴를 딕셔너리로 만들어보세요
```python
s = '''
아메리카노 2000
아이스티 3500
카페라떼 3000
카푸치노 3500
'''
-> {'아메리카노': '2000', '아이스티': '3500', '카페라떼': '3000', '카푸치노': '3500'}
```

In [4]:
s = '''
아메리카노 2000
아이스티 3500
카페라떼 3000
카푸치노 3500
'''
menu = {} # 메뉴용 dictionary
#연습문제 9.5 의 코드를 여기에 작성하세요


print(menu)

{'아메리카노': '2000', '아이스티': '3500', '카페라떼': '3000', '카푸치노': '3500'}