<a href="https://colab.research.google.com/github/decoz/pyclass/blob/master/9_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9 문자열 


문자열이란 일반적인 숫자대신 글자들을 담을 수 있는 변수를 의미합니다. 사실 내부적으로는 각 글자들마다 대응된 숫자들이 존재합니다. 이를 코드라고 하며 글자들은 이런 코드값으로 저장되지만 이를 매번 숫자->글자로 변환해서 출력하고 처리하려면 너무 헷갈리기 때문에 컴퓨터에서는 이런 문자들을 저장하는 변수는 따로 분자형 변수, 또는 문자열 이렇게 표현하며 숫자와는 다른 방식으로 다룹니다.

## 9.1 문자열 변수

먼저 문자열 변수의 간단한 코드부터 보도록 하겠습니다. 

#### 코드: 간단한 문자열 변수와 출력

In [0]:
s0 = "a"
s1 = 'txt'
s2 = "this 'is' string"
s3 = 'this is "string"'
s4 = "line change \n is possible "
s5 = "string start with \" or \' "

print(s0, s1)
print(s2 + s3)
print(s4)
print(s5)

위의 코드에서 문자열 변수의 + 는 두 문자열을 합한다는 뜻입니다. 아래의 코드를 보시면 더 이해가 쉬우실 겁니다. 

#### 코드: 문자열 합치기

In [0]:
s1, s2 = "abc", "def"
s0 = s1 + s2 
print(s0)
s0 = s1 + " " + s2 
print(s0)

## 9.2 문자열 개별문자 접근
문자열은 실제 배열처럼 다룰 수 있다고 위에서 설명 드렸습니다.  그러기에 다음과 같은 코드도 성립합니다.

#### 코드: 문자열 길이 구하기

In [0]:
s1 = "123"
print( len(s1) )

위에서는 여러 문자로 이뤄진 문자열을 하나의 변수로 다루고 있지만 이것은 개별 글자의 배열이며 그러므로 각각의 글자단위의 처리가 가능합니다.  이제 이를 이용해 각각의 글자를 꺼내서 찍어보도록 하겠습니다. 


#### 코드: 문자열 한글자씩 찍기

In [0]:
s = "abcde"
for c in s : 
  print(c)

#### 코드: 문자열 앞 3글자만 찍기

In [0]:
for i in range(3):
  print(s[i])

    
####<font color = 'red'> 연습 9.2.1 : 문자열 제일 뒤의 3글자만 찍기 
다음과 같은 문자열이 있을때 제일 뒤의 세글자만 찍는 코드를 작성해보세요
```
s = 'abcdefg'
```
</font>

In [0]:
s = 'abcdefg'
#연습문제 9.2.1의 코드를 여기에 작성하세요

    
####<font color = 'red'> 연습 9.2.2 : 중복문자열 만들기
문자열 s1 글자가 다음과 같을때 s1의 글자를 두개씩 포함한 문자열 s2를 만들어 출력하세요
```
s1 = 'abc' -> s2 = 'aabbcc'
```
</font>

In [0]:
s1 = 'abc'
#연습문제 9.2.2의 코드를 여기에 작성하세요

## 9.3 다양한 문자열 처리

이제 좀더 다양한 문자열 처리 예제들을 보도록 하죠.

### 9.3.1 문자 치환

우선 널리 사용되는 기법중에는 문자열 치환이라는 개념이 있습니다.  이는 특정 글자, 단어를 다른 문자열로 교체하는 것으로 예를 들어 

```
'this is string' -> 'this_is_string'
```

이렇게 빈칸을 '_' 글자로 교체하는 예를 한번 보도록 하죠. 이를 위해서는 글자의 값을 비교하는 구문을 이해하셔야 하는데요 예를 들어 어떤 문자열의 처음 값이 a 인 경우를 체크하려면 

```
s = 'abc'
if s[0] == 'a' :
  print("s begin with character 'a'")
```

이런 식으로 작성해주시면 됩니다. 이해가 가셨다면 실제로 공백문자 ' ' 를 어래 밑줄 문자 '_' 로 바꾸는 코드를 보도록 하죠

#### 코드: 문자열 특정 문자를 바꾸기

In [0]:
s = "str is immutable array"


ns = "" # 새로운 문자열
for c in s: # 문자열의 글자들을 카피하는 반복
  if c == ' ' :      # 공백일 경우는 '_' 을 카피
    ns = ns + '_'  
  else :                # 아닌 경우는 원 글자를 카피
    ns = ns + c
s = ns 

print(s)

결국 문자열도 배열의 일환으로 다룰 수 있다는 것을 아실 수 있을 겁니다. 그러면 다음의 연습문제들을 한번 보도록 하겠습니다. 

    
####<font color = 'red'> 연습 9.3.1 : 단어단위로 줄을 바꿔서 출력 <br>
특정 문자열이 있을때 그 안의 단어들이 각각 다른 라인에 찍히도록 해봅시다. 
</font> 
```
'change lines by words'

출력: 

change 
lines
by 
words
```

In [0]:
s = 'change lines by words'
#연습문제 9.3.1의 코드를 여기에 작성하세요

<br>

이번에는 문자열에 빈칸(공백문자 ' ') 가 여러개가 붙어서 들어갈 경우 이 문자를 하나로 합쳐서 출력해주는 코드를 한 번 생각해보세요
    
####<font color = 'red'> 연습 9.3.2 : 중복 빈칸 없애기 <br>
특정 문자열이 있을때 그 안의 단어들이 각각 다른 라인에 찍히도록 해봅시다. 
</font> 
```
'multiple   blank    is   useless'
-> 
출력: 
'multiple blank is useless'
```

In [0]:
s = 'multiple   blank    is   useless'
#연습문제 9.3.2의 코드를 여기에 작성하세요

### 9.3.2 숫자 <-> 문자

이번에는 문자열과 숫자의 차이를 한 번 보도록 하죠. 다음 두 코드는 같은 출력을 지닙니다. 

```
a = 123 
print(a)
```
```
a = '123'
print(a)
```
하지만 하나는 숫자이고 하나는 문자열이므로 다음 코드는 서로 다른 결과를 내죠

```
a,b = 1,2
print(a+b) 
-> 3
```
```
a,b = '1', '2'
print( a+b )
-> 12
```

아래쪽 a,b 는 둘다 문자열이므로 a+b 는 두 문자열을 합친다는 의미로서 '12' 가 된 것이죠. 그러므로 문자열 안에 있는 숫자 문자를 숫자로 변환하려면 다음과 같이 int() 를 사용해야 합니다.

In [0]:
a,b = '11', '2'
print( int(a) + int(b) )

문자는 숫자와는 다르지만 그럼에도 문자끼리의 크기는 비교가 가능합니다.

In [0]:
a,b = '31','255'
if a < b : 
  print("b is bigger")

이는 두 글자의 코드값을 비교하기 때문입니다. 그러므로 '1' < 'a' 같은 비교도 가능하고 위의 예제에서 본 것처럼 두 문자열이 같은 가를 비교도 가능한 겁니다. 

그러므로 특정 글자가 숫자인지는 다음과 같은 코드로 체크가 가능합니다. 

```
if c >= '0' and c <= '9' :
```
왜냐하면 0 ~ 9 까지 글자의 코드가 순차적으로 이뤄져있기 때문입니다. 그러므로 문자열 안의 숫자만을 줄력하고 싶은 경우 다음과 같은 코드를 사용합니다. 


#### 코드: 숫자만 출력

In [0]:
s = "a1 b2 c3"
for c in s:
  if c >= '0' and c <= '9': 
    print(c)


이번에는 문자열 안에 있는 모든 개별 숫자 글자를 더해주는 코드를 작성해보도록 하겠습니다.  예를 들어 

```
s = 'a12 b34'
-> 1 + 2 + 3 + 4 = 10
```

이렇게 합산이 가능하기 위해선  '1', '2', '3, '4' 를 각각 숫자로 변환해 줘야 합니다.  이를 위해선 위에서 언급한 int()를 사용해야 하죠. 이제 개별 글자를 숫자 코드로 변환하는 프로그램을 보도록 하겠습니다. 

#### 코드: 개별 숫자를 합산

In [0]:
s = "a4 b2 c3"
sum = 0
for c in s:
  if c >= '0' and c <= '9': 
    sum += int(c)
print(sum)


만일 우리가 문자열에 있는 숫자를 하나 증가시켜 다시 저장하고 싶다면 어떻게 해야 할까요?  이럴땐 str() 이라는 기능을 사용해서 숫자를 문자로 바꿀 수 있습니다. 


#### 코드: 숫자에 하나를 더해서 저장

In [0]:
s = "a4 b2 c3"
ns = ""
for c in s:
  if c >= '0' and c <= '9': 
    ns += str(int(c) + 1)
  else : 
    ns = ns + c
print(ns)

<br>

####<font color = 'red'> 연습 9.3.3 : 두자리 이상의 숫자 합산 <br>
위에서 숫자를 한글자 단위로 합산하던 것을 여러 자리 숫자까지 합산해 주도록 작성해보세요
</font>

예:
```
43 27
-> 70 

32  5 100
-> 137
```

In [0]:
s = '43 27'
#연습문제 9.3.3 의 코드를 여기에 작성하세요

<br>

### 참고: 간단한 덧셈뺄셈
위에 연습문제를 푸셨다면 등장하는 정수들을 추출 하실 수 있게 되셨는데요. 이 경우 간단한 덧셈, 뺄셈의 계산을 다룬 문자열을 처리할 수 도 있습니다. 

예
```
3 + 4 + 12
-> 19
10 + 7 - 6 
-> 11 
```

아래 코드는 복잡해 보일 지도모르지만 사실 위의 코드의 확장으로 덧셈 뺄셈 여부를 저장하는 op 라는 문자열 변수를 사용해 덧셈과 뺄셈을 구분해줍니다. 

코드 : 문자열의 덧셈 뺄셈 계산을 해주는 프로그램

In [0]:
s = '3 + 4 - 12 + 55'
num,op = '',''
ret = 0
for c in s :
  if c >= '0' and c <= '9':
    num = num + c
  else :
    if num != '':
      if op == '+' :
        ret = ret + int(num)        
      if op == '-' :
        ret = ret - int(num)   
      if op == '' :
        ret = int(num)
      num = ''           
    if c == '+' or c == '-' :
      op = c 
  #print("n:",num, "op:",op, "ret:", ret)

if num != '':
  if op == '+' :
    ret = ret + int(num)        
  if op == '-' :
    ret = ret - int(num)   
  if op == '' :
    ret = int(num)

print(ret)

### 9.3.2 문자열과 슬라이스

#### 코드: 문자열 일부 추출

In [0]:
s = "abcdefg"
print("[0:3] :", s[0:3])
print("[:3]  :", s[:3])
print("[3:5] :", s[3:5])
print("[3:]  :", s[3:])
print("[0:-2]:", s[0:-2])
print("[-2:] :", s[-2:])

### 9.3.3 문자열의 배열들

#### 코드: 단어로 문자열 나누기

In [0]:
s = "word split example"
arr = s.split()
print(arr)

## 9.4 텍스트 파일과 문자열

#### 코드: 문자열을 파일로 저장

In [0]:
f = open("save.txt", "w")
s = "save file test"
f.write(s)
f.close()

#### 코드: 파일을 읽어서 출력

In [0]:
f = open("save.txt", "r")
s = f.read()
print(s)
f.close()

#### 코드: 파일을 라인단위로 읽어서 출력

In [0]:
f = open("save.txt", "r")

while True:
  s = f.readline()
  if not s : 
    break
  print(s)

f.close()